.container {
    position: absolute;
    top: 100px;
    left: calc(50% - 600px);
    min-width: 1000px;
    height: auto;
    border: solid black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

}

.tableWrap-one, .tableWrap-two, .tableWrap-calculate {
    width: 100%;
    min-height: 20px;
    height: auto;
    border: solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.tableWrap-one input, .tableWrap-two input,  .btn, .tableWrap-calculate input {
    width: 29% !important;
    margin: 2px;
}





.block-one, .block-two, .block-calculate {
    height: auto;
    min-height: 50px;
    width: 30%;
    position: relative;
}


.block-calculate {
    width: 20%;
}

.block-one button, .block-two button, .block-calculate button {
    position: relative;
    box-sizing: border-box;
    height: 20px;
    width: 100%;
}

.tableWrap-calculate {

}

